body{
    background-color: #fffee5;
    font-family: 'Kaushan Script', 'Rokkitt', 'Oswald', 'Libre Baskerville', sans-serif;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner img{
    margin-top: 10%;
    max-width: 90%;
}

.foot img{
    margin-bottom: 10vh;
    margin-top: 2%;
}

/* Content */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.flex-container h1{
    font-weight: 100;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size: clamp(2.618rem, 6vh ,17.942rem);
}

.flex-container h2{
    font-size: clamp(1.5rem, 4vh ,6.854rem);
}

.container{
    /* padding: 5px 15px; */
    margin: 8px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
    width: auto;
    height: auto;
    max-height: 80vh;
    max-width: 80vw;
}

.container a{
    text-decoration: none;
    color: black;
    font-size: clamp(1rem, 3vh, 2.618rem);
}

.container a:hover{
    cursor: pointer;
    color: #9c352a;
}

#navigation{
    background-color: #fbf9d3;
    border-radius: 15%;
    padding: 6px;
}

#navigation:hover{
    background-color: #e2e1c1;
}

h1,
h2{
    text-align: center;
}

.container h3{
    font-size: clamp(12px,5vw,100px);
    margin-bottom: 0px;
    font-weight: 200;
}

p{
    font-size: clamp(.5rem,3vh,1.618rem);
}

/* Content End */

/* TABLES */

table{
    font-family: 'Vujahday Script', sans-serif;
    font-weight: 200;
    text-align: center;
}
thead th{
    font-size: 2rem;
}

th{
    font-weight: 700;
}

td{
    font-size: 1.5rem;
}
/* END TABLES */

/* Media */

@media only screen and (min-width: 1600px){
    .flex-container{
        margin: 0 20%;
    }
}

/* End Media */